<!DOCTYPE html>
<html>

<head>
	<title>Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Contact ::
		w3layouts</title>
	<link rel="icon" href="http://www.atozonlinemart.com/images/logo.png">
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="http://www.atozonlinemart.com/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="http://www.atozonlinemart.com/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="http://www.atozonlinemart.com/js/jquery-1.11.1.min.js"></script>
	<!-- //js -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="http://www.atozonlinemart.com/js/move-top.js"></script>
	<script type="text/javascript" src="http://www.atozonlinemart.com/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<style>
		@media screen and (min-width: 768px) {
			.img-height {
				height: 375px;
			}
		}

		@media screen and (max-width: 769px) {
			.img-height {
				height: 280px;
			}
		}
	</style>

</head>

<body>

	<% include header %>

	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/"><span class="fa fa-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">AboutUs</li>
			</ol>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- contact -->
	<div style="padding-top:10px;" class="about">
		<h2 style="margin-bottom : 40px;" class="w3_agile_header">About Us</h2>
		<div class="w3_agileits_contact_grids">
			<div style="margin: 0px 20px;" class="col-md-4 w3_agileits_contact_grid_left">
				<div style="text-align: center;" class="agile_map">
					<img class="img-height" src="http://www.atozonlinemart.com/images/about.png" alt="" />
					<h1 style="margin: 25px; text-align: center;">Happy Shopping</h1>
				</div>
			</div>
			<div style="padding: 20px; padding-top: 0px;">
				<u>A to Z Online Mart</u><br>
				Spare more with our organization. We give you the most minimal costs on the entirely of your grocery
				needs.<br><br>
				We are a trusted enterprise in your city Kosi Kalan running business from last 20+ years, We never
				compromise with quality and offers you the best quality at reasonable prices.
				<br><br>
				A to Z Online Mart is your city's biggest online general & grocery store with 1600+ products and 200+
				brands in our list.<br><br> You will discover all that you are searching for. Appropriate from Rice,
				spices,
				beverages to personal care and stationary items- <strong>we have everything.</strong>
				<br><br>
				Browse a wide scope of choices in each class, solely handpicked to enable you to locate the best quality
				accessible at the least costs. Select an availability & your request will be conveyed ideal to your
				doorstep, at any place in Kosi Kalan.<br><br>
				We are following all safety measures in delivering the products to you in the most safest way.
				<br><br>
				We also add new products on daily basis. Keep browsing our website and stay in touch with us on our
				social media handles for more exciting offers.
				<br><br>
				You can pay as per your convenience through Google Pay, PhonePe or Paytm. We are also offering Cash on
				Delivery.<br>
				We ensure that your time will be saved & you will receive best quality. Sit relax & get your products
				delivered at your doorstep.
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- contact -->

	<% include footer %>

	<!-- Bootstrap Core JavaScript -->
	<script src="http://www.atozonlinemart.com/js/bootstrap.min.js"></script>
	<!-- top-header and slider -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="http://www.atozonlinemart.com/js/minicart.min.js"></script>
	<script>
		// Mini Cart
		paypal.minicart.render({
			action: '#'
		});

		if (~window.location.search.indexOf('reset=true')) {
			paypal.minicart.reset();
		}
	</script>
	<!-- main slider-banner -->
	<script src="http://www.atozonlinemart.com/js/skdslider.min.js"></script>
	<link href="http://www.atozonlinemart.com/css/skdslider.css" rel="stylesheet">
	<script type="text/javascript">
		jQuery(document).ready(function () {
			jQuery('#demo1').skdslider({ 'delay': 5000, 'animationSpeed': 2000, 'showNextPrev': true, 'showPlayButton': true, 'autoSlide': true, 'animationType': 'fading' });

			jQuery('#responsive').change(function () {
				$('#responsive_wrapper').width(jQuery(this).val());
			});

		});
	</script>
	<!-- //main slider-banner -->

</body>

</html>