<!DOCTYPE html>
<html>

<head>
	<title>Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Contact ::
		w3layouts</title>
	<link rel="icon" href="http://localhost:3001/images/logo.png">
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="http://localhost:3001/js/jquery-1.11.1.min.js"></script>
	<!-- //js -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="http://localhost:3001/js/move-top.js"></script>
	<script type="text/javascript" src="http://localhost:3001/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
</head>

<body>
	<% include header %>
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/"><span class="fa fa-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Contact</li>
			</ol>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- contact -->
	<div style="padding-top:10px;" class="about">
		<h2 style="margin-bottom : 40px;" class="w3_agile_header">Contact</h2>
		<div class="w3_agileits_contact_grids">
			<div style="margin: 0px 20px;" class="col-md-5 w3_agileits_contact_grid_left">
				<div class="agile_map">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3529.5233421254893!2d77.4371858150173!3d27.79365758275625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3c6f8378cd7be29d!2sShri%20ram%20provision%20store!5e0!3m2!1sen!2sin!4v1598541942684!5m2!1sen!2sin"
						width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
						aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
			<div class="col-md-6 w3_agileits_contact_grid_right">
				<% if (successMessage.length > 0) { %>
					<div class="alert alert-success col-sm-12"><%= successMessage %></div>
					<% } %>
	
				<h2 class="w3_agile_header">Leave a<span> Message</span></h2>

				<form action="/contact-enquiry" method="post">
					<!-- <span class="input input--ichiro">
					</span> -->
					<input style="border-radius:10px" class="input__field" type="text" name="name"
						placeholder="Your Name" required />
					<input style="border-radius:10px" class="input__field" type="email" name="emailId"
						placeholder="Your Email" required />
					<input type="tel" name="phone" pattern="[1-9]{1}[0-9]{9}" title="Enter 10 digit mobile number"
					style="border-radius:10px" class="input__field" placeholder="Phone Number" required>
					<!-- <span class="input input--ichiro">
					</span> -->
					<textarea style="border-radius:10px" name="message" placeholder="Your message here..."
						required></textarea>
					<input style="border-radius:10px" type="submit" value="Submit">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- contact -->

	<% include footer %>

	<!-- Bootstrap Core JavaScript -->
	<script src="http://localhost:3001/js/bootstrap.min.js"></script>
	<!-- top-header and slider -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="http://localhost:3001/js/minicart.min.js"></script>
	<script>
		// Mini Cart
		paypal.minicart.render({
			action: '#'
		});

		if (~window.location.search.indexOf('reset=true')) {
			paypal.minicart.reset();
		}
	</script>
	<!-- main slider-banner -->
	<script src="http://localhost:3001/js/skdslider.min.js"></script>
	<link href="http://localhost:3001/css/skdslider.css" rel="stylesheet">
	<script type="text/javascript">
		jQuery(document).ready(function () {
			jQuery('#demo1').skdslider({ 'delay': 5000, 'animationSpeed': 2000, 'showNextPrev': true, 'showPlayButton': true, 'autoSlide': true, 'animationType': 'fading' });

			jQuery('#responsive').change(function () {
				$('#responsive_wrapper').width(jQuery(this).val());
			});

		});
	</script>
	<!-- //main slider-banner -->

</body>

</html>