<style>
	@media screen and (min-width: 768px) {
		
		.margin-top{
			margin-top: 21%;
		}

		.heading-SubCategory{
			position: absolute;
    		transform: translate(55%, -50%);
		}

		.ul-category {
			margin-top: 65px;
		}

		#icon-position {
			position: absolute;
			left: 10%;
			top: 75%;
		}
	}

	@media screen and (max-width: 769px) {
		.ul-category {
			margin-top: -18px;
		}

		#icon-position {
			position: absolute;
			left: 16%;
			top: 33%;
		}
	}

	.category-position {
			text-transform: none !important;;
		}

	#icon-circle-social {
		border-radius: 50%;
		border: none;
		height: 30px;
		width: 30px;
		position: relative;
		display: inline-block;
		margin-right: 20px;
		color: black;
	}
</style>


<!-- //footer -->
<div style="position: relative;" class="footer">
	<div class="container">
		<div class="w3_footer_grids">
			<div class="col-md-3 w3_footer_grid">
				<h3 class="category-position">Contact</h3>

				<ul style="margin-bottom: 55px;" class="address">
					<li><i class="fa fa-home"></i>Pramod Kumar Agrawal (Kotwaniya)<br> <span style="margin-top: 10px; margin-left: 46px;">Shri Ram Provision Store Lalaram marg Near Gurudwara Ghantaghar Kosi Kalan Mathura-281403</span></li>
					<li><a href="tel:9045056444"><i style="transform: rotate(90deg);" class="fas fa-phone"></i></a>+91 9045056444, 9219869825, <span style="margin-left: 46px;">9997610265</span></li>
					<li><i class="fab fa-whatsapp"></i>+91 9045056444, 9219869825<span style="margin-left: 46px;">9997610265</span></li>
					<!-- <li><a href="https://api.whatsapp.com/send?phone=919045056444"><i class="fab fa-whatsapp"></i></a>+91 9045056444, 9219869825<span>9997610265</span></li> -->
					<li><i class="far fa-envelope"></i><a href="mailto:atozonlinemart5@gmail.com">atozonlinemart5@gmail.com</a></li>
				</ul>
			</div>
			<div id="icon-position">
				<a target="_blank" href="https://www.facebook.com/atozonlinemart5/">
					<div id="icon-circle-social" class="icon-circle-social-fb">
						<div class="icon-item"><i style="color: white;" class="fab fa-facebook-f"></i></div>
					</div>
				</a>
				<a target="_blank" href="https://www.instagram.com/atoz_onlinemart/">
					<div id="icon-circle-social" class="icon-circle-social-insta">
						<div class="icon-item"><i style="color: white;" class="fab fa-instagram"></i></div>
					</div>
				</a>
				<a target="_blank" href="https://twitter.com/atoz_onlinemart?s=09">
					<div id="icon-circle-social" class="icon-circle-social-twitter">
						<div class="icon-item"><i style="color: white;" class="fab fa-twitter"></i></div>
					</div>
				</a>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3 class="category-position">Information</h3>
				<ul class="info">
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/">Home</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/aboutUs">About Us</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/contact">Contact</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/login">Login</a></li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3 class="category-position heading-SubCategory">Special Categories</h3>
				<ul class="info margin-top">
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/user/grocery/cookingoil_ghee">Cooking
							Oils</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/user/grocery/dry_fruits">Dry Fruits</a>
					</li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/user/branded_foods/pickles">Pickels</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/user/upvaas_fast_special">Upvass
							Special</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/user/personal_care/deo_perfumes">Deo &
							Perfumes</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Choclate & Candies</a></li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<ul class="info ul-category">
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/user/disposable_items">Disposable
							Items</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Handwash</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/user/mask_sanitizer">Mask &
							Sanitizer</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Spices</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Namkeen & Papad</a></li>
				</ul>

			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="footer-copy">

		<div class="container">
			<p><a target="_blank" href="https://www.letscipher.com/">© letscipher. All rights reserved</a></p>
		</div>
	</div>

</div>

<!-- //footer -->
<!-- script for tabs -->
<script type="text/javascript">
	$(function () {

		var menu_ul = $('.faq > li > ul'),
			menu_a = $('.faq > li > a');

		menu_ul.hide();

		menu_a.click(function (e) {
			e.preventDefault();
			if (!$(this).hasClass('active')) {
				menu_a.removeClass('active');
				menu_ul.filter(':visible').slideUp('normal');
				$(this).addClass('active').next().stop(true, true).slideDown('normal');
			} else {
				$(this).removeClass('active');
				$(this).next().stop(true, true).slideUp('normal');
			}
		});

	});


	function removeDummy() {
		var elem = document.getElementById('dummy');
		elem.parentNode.removeChild(elem);
		return false;
	}

</script>
<!-- script for tabs -->