<!-- //footer -->
<div class="footer">
	<div class="container">
		<div class="w3_footer_grids">
			<div class="col-md-3 w3_footer_grid">
				<h3>Contact</h3>

				<ul class="address">
					<li style="text-align: center;"><i class="fa fa-home"></i>Shri Ram Provision Store, Lalaram marg, near Gurudwara, Ghantaghar</li>
					<li><i class="far fa-envelope"></i><a href="mailto:atozonlinemart5@gmail.com">atozonlinemart5@gmail.com</a></li>
					<li><i class="fas fa-phone"></i>(+91) 9219869825, 9045056444, <span>9997610265</span></li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>Information</h3>
				<ul class="info">
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/">Home</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/aboutUs">About Us</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/contact">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>Category</h3>
				<ul class="info">
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Beauty & Cosmetic</a>
					</li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Cooking Oils</a>
					</li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Deo & Perfumes</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Health & Wellness</a></li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Pickels</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>Profile</h3>
				<ul class="info">
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Login</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="footer-copy">

		<div class="container">
			<p><a target="_blank" href="https://www.letscipher.com/">© letscipher. All rights reserved</a></p>
		</div>
	</div>

</div>

<!-- //footer -->