	
	<!-- header -->

	<div class="logo_products">
		<div class="container">
			<div style="margin-top: 25px !important;" class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>For order call us : +91 9219869825</li>

				</ul>
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a href="/"><img src="images/logo.png" alt="" /></a></h1>
			</div>
			<div style="margin-top: 15px !important;" class="w3l_search">
				<form action="#" method="post">
					<input style="border-radius: 20px;" type="search" name="Search"
						placeholder="Search for a Product..." required="">
					<button style="border-radius: 25px;" type="submit" class="btn btn-default search"
						aria-label="Left Align">
						<i class="fa fa-search" aria-hidden="true"> </i>
					</button>
					<div class="clearfix"></div>
				</form>
			</div>

			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
						data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/" class="act">Home</a></li>
						<!-- Mega Menu -->
						<!-- <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Groceries<b
									class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="multi-gd-img">
										<ul class="multi-column-dropdown">
											<h6>All Groceries</h6>
											<li><a href="groceries.html">Dals & Pulses</a></li>
											<li><a href="groceries.html">Almonds</a></li>
											<li><a href="groceries.html">Cashews</a></li>
											<li><a href="groceries.html">Dry Fruit</a></li>
											<li><a href="groceries.html"> Mukhwas </a></li>
											<li><a href="groceries.html">Rice & Rice Products</a></li>
										</ul>
									</div>

								</div>
							</ul>
						</li> -->
						<li><a href="#">Beauty & Cosmetic</a></li>
						<li><a href="#">Cooking Oils</a></li>
						<li><a href="#">Dal</a></li>
						<li><a href="#">Deo & Perfumes</a></li>
						<li><a href="#">Dry Fruits</a></li>
						<li><a href="#">Health & Wellness</a></li>
						<li><a href="#">Pickels</a></li>
						<li><a href="/aboutUs">About Us</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<!-- //navigation -->
