<!DOCTYPE html>
<html>

<head>
	<title>Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home ::
		w3layouts</title>
	<link rel="icon" href="http://localhost:3001/images/logo.png">

	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords"
		content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- //for-mobile-apps -->
	<link href="http://localhost:3001/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="http://localhost:3001/css/style.css" rel="stylesheet" type="text/css" media="all" />

	<!-- font-awesome icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- //font-awesome icons -->

	<!-- js -->
	<script src="http://localhost:3001/js/jquery-1.11.1.min.js"></script>
	<!-- //js -->

	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="http://localhost:3001/js/move-top.js"></script>
	<script type="text/javascript" src="http://localhost:3001/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<style>
		@media screen and (min-width: 768px) {
			.card-body-category {
				border-radius: 50% !important;
				width: 283px !important;
				height: 283px !important;
			}

			.category-img {
				height: 265px;
				width: 265px;
				border-radius: 50%;
				position: relative;
			}

			.category-img:hover {
				background-color: grey;
				opacity: 0.5;
			}

			.commingSoonText {
				position: absolute;
				transform: translate(25%);
				top: 25%;
				left: 0%;
				font-size: 30px !important;
				color: #FE9126 !important;
				z-index: 10;
				text-shadow: 0 0 black;
			}

			.category-heading {
				margin-top: 10px;
				text-align: center;
				font-size: 20px;
				margin-bottom: 25px;
			}

			.commingSoonImg {
				opacity: 0.5;
			}

		}

		@media screen and (max-width: 769px) {
			.card-body-category {
				border-radius: 50% !important;
				width: 100% !important;
				height: 220px !important;
			}

			.category-img {
				height: 205px;
				width: 205px;
				border-radius: 50%;
			}

			.category-img:hover {
				background-color: grey;
				opacity: 0.5;
			}

			.commingSoonText {
				position: absolute;
				transform: translate(25%);
				top: 25%;
				left: 9%;
				font-size: 23px !important;
				color: #FE9126 !important;
				z-index: 10;
				text-shadow: 0 0 black;
			}

			.commingSoonImg {
				margin-left: 25px !important;
				opacity: 0.5;
			}

			.category-heading {
				margin-top: 10px;
				text-align: center;
				font-size: 20px;
			}

		}
	</style>
</head>

<body>

	<% include header %>

	<!-- main-slider -->
	<ul id="demo1">
		<li>
			<img src="http://localhost:3001/images/s6.jpg" alt="" />
		</li>
		<li>
			<img src="http://localhost:3001/images/s2.png" alt="" />
		</li>

		<li>
			<img src="http://localhost:3001/images/s4.png" alt="" />
		</li>
		<li>
			<img src="http://localhost:3001/images/s7.png" alt="" />
		</li>
		<li>
			<img src="http://localhost:3001/images/s1.jpg" alt="" />
		</li>
		<li>
			<img src="http://localhost:3001/images/s3.png" alt="" />
		</li>
	</ul>
	<!-- //main-slider -->

	<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
			<h2>Our Products</h2>
			<div style="border:0px !important; margin:0px !important" class="grid_3 grid_5">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="expeditions"
							aria-labelledby="expeditions-tab">
							<div class="agile_top_brands_grids">

								<% for (var i = 0 ; i < productCategoryList.length ; i++) { %>
								<div class="col-md-3 top_brand_left">
									<div class="agile_top_brand_left_grid card-body-category">
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div class="snipcart-item block">
													<div class="snipcart-thumb">
														<a href="/user/<%= productCategoryList[i].name%>"><img class="category-img" title=" " alt="product Image" src="http://localhost:3001/images/<%= productCategoryList[i].name%>.png" /></a>
													</div>
												</div>
											</figure>
										</div>
									</div>
									<p class="category-heading"><%= productCategoryList[i].displayName%></p>
								</div>

								<% } %>
								
								<div class="col-md-3 top_brand_left">
									<div class="agile_top_brand_left_grid card-body-category">
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div class="snipcart-item block">
													<p class="commingSoonText">Coming Soon..</p>
													<div style="text-align: center;" class="snipcart-thumb">
														<img style="position: relative; opacity: 0.3;"
															class="category-img" title=" " alt=" "
															src="images/s2.png" />
													</div>
												</div>
											</figure>
										</div>
									</div>
									<p class="category-heading"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //top-brands -->

	<% include footer %>

	<!-- Bootstrap Core JavaScript -->
	<script src="http://localhost:3001/js/bootstrap.min.js"></script>

	<!-- top-header and slider -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="http://localhost:3001/js/minicart.min.js"></script>
	<script>
		// Mini Cart
		paypal.minicart.render({
			action: '#'
		});

		if (~window.location.search.indexOf('reset=true')) {
			paypal.minicart.reset();
		}
	</script>
	<!-- main slider-banner -->
	<script src="http://localhost:3001/js/skdslider.min.js"></script>
	<link href="http://localhost:3001/css/skdslider.css" rel="stylesheet">
	<script type="text/javascript">
		jQuery(document).ready(function () {
			jQuery('#demo1').skdslider({ 'delay': 5000, 'animationSpeed': 2000, 'showNextPrev': true, 'showPlayButton': true, 'autoSlide': true, 'animationType': 'fading' });

			jQuery('#responsive').change(function () {
				$('#responsive_wrapper').width(jQuery(this).val());
			});

		});
	</script>
	<!-- //main slider-banner -->
</body>

</html>